body {
    font-family: Tahoma, sans-serif;
    background: #f0f0f0;
    margin: 0;
    padding: 10px;
    direction: rtl;
}

button {
    padding: 10px;
    margin: 5px;
    width: 95%;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    background-color: #4CAF50;
    color: white;
}

input[type=text], input[type=number] {
    padding: 8px;
    margin: 3px;
    width: 48%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.program {
    margin-top: 15px;
}

.searchDropdown {
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    background: white;
    position: absolute;
    z-index: 1000;
    width: 90%;
}

.searchItem {
    padding: 5px;
    cursor: pointer;
}

.searchItem:hover {
    background-color: #ddd;
}

#resultsTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#resultsTable th, #resultsTable td {
    border: 1px solid #999;
    padding: 5px;
    text-align: center;
    font-size: 14px;
}